* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$themes: (
  light: (
    textColor: black,
    bg: white,
    logo: rgb(102, 51, 153),
    bgSoft: rgb(240, 242, 245),
    textColorsoft: #555,
    border: lightgray,
  ),
  dark: (
    textColor: whitesmoke,
    bg: #222,
    logo: white,
    bgSoft: #333,
    textColorsoft: lightgray,
    border: #444,
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}
@function themed($key) {
  @return map-get($theme-map, $key);
}
.App {
  height: 100vh;
  @include themify($themes) {
    background-color: themed("bgSoft");
    color: themed("textColor");
  }
}

// body {
//   @include themify($themes) {
//     background-color: themed("bgSoft");
//   }
// }
